{% load bootstrap4 %}

<!-- card start -->
<div class="card">
    {% if form_title %}
        <div class="card-header">
            {{ form_title }}
        </div>
    {% endif %}
    <div class="card-body">
        <!-- form start -->
        {#만약 내가 활용하고자 하는 데이터 값이 이 html 파일에서 받는 것이라면#}
        {#enctype="multipart/form-data" 를 넣어줘야한다.#}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">
                    {{ submit_label|default:"Submit" }}
                </button>
            {% endbuttons %}
        </form>
        <!-- form end -->
    </div>
  </div>
  <!-- card end -->